.header {
  min-height: 5rem;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1rem 2rem;
  background-color: #FDFDFD;
}

.logo {
  width: 15rem;
}

.search {
  position: absolute;
  transform: translateX(-50%);
}

.methodologyButton {
  text-align: right;
  justify-self: end;
  width: 10rem;
  text-align: center;
}