.highlightsCard {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 0;
}

.highlight {
  padding: 5px 5px;
  grid-template-columns: span 1;
  text-align: left;
  position: relative;
}

.highlight:not(:last-child) {
  position: relative;
}

.highlight:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 10px;
  bottom: 10px;
  border-right: 1px solid #E5E7EB;
}

.number {
  color: #2563EB;
  font-size: 115%;
  font-weight:800;
}

.title {
  font-size: 105%;
  font-weight:600;
}

.explanation {
  font-size: 80%;
}