.root {
  background-color: white;
  box-shadow: var(--mantine-shadow-md);
  border: 1px solid light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-4));
}

.indicator {
  background-image: linear-gradient(
    to right,
    #2563EB,
    #60A5FA
  );
}

.control {
  &::before {
    display: none;
  }
}

.label {
  color: var(--mantine-color-dark-9);
  &,
  &:hover {
    &[data-active] {
      color: var(--mantine-color-white);
    }
  }
}

.findAreaButton:not(:disabled):hover {
  background-image: linear-gradient(
    to right,
    #2563EB,
    #60A5FA
  );
}

.findAreaButton:hover span {
  color: white;
}

.tabsContainer {
  display: flex;
  justify-content: space-between;
}

.scoreCard{
  overflow-y: auto;
}

.scoreCardContent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0.5rem;
}

.areaTitle {
  font-size: 105%rem;
  font-weight: 700;
}

.tab,
.activeTab{
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 150px;
  padding: 0.75rem 1.5rem;
  border: 2px solid #d9d9d9;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
  background-color: white;

  transition: border-color .25s ease;
}

.tab:hover {
  border-color: #2563EB;
}

.activeTab{
  border: 2px solid #2563EB;
  border-bottom: none;
}