.hero {
  display: grid;
  justify-content: center;
  align-content: start;

  row-gap: 4rem; 
  padding-top: 25vh; 
  min-height: 90vh;
}

.logo {
  justify-self: center;
  width: 35rem;
}

.initialSearchNote {
  margin-top: -2rem;
  font-size: 0.8rem;
  color: #6b7280;
  text-align: center;
}

