html {
  scroll-behavior: smooth;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #F5F7FA;
}

.page h1{
  font-size: 2rem;
  text-align: center;
  margin: 0 0 0.5rem;
}

.methodologyCard {
  height: 72vh;
}

.methodology {
  background-color: #FDFDFD;  
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-y: auto;
  margin: 0 10rem;
  gap: 1rem;
  padding: 1rem 0.5rem;
}

.methodologyContent {
  display: grid;
  grid-template-columns: 1fr 1px 2fr;
  gap: 3rem;
}

.divider {
  background-color: #dfe4ea;
  width: 1px;
  max-height: 60vh;
}


/*==== Content for Markdown =====*/
.content {
  color: #252a31;
  line-height: 1.75;
  overflow-y: auto;
  max-height: 60vh;
}

.content h1 {
  font-size: 1.25rem;
  margin: 1.5rem 0 0;
}

.content h3, .content h4 {
  font-size: 1rem;
  margin: 0.25rem 0 0;
}

.content p, .content em, .content strong, .content a {
  font-size: 0.9rem;
}

.content :global(.katex) {
  transform: scale(0.65);
  transform-origin: center;
}
