.searchbarContainer {
  /* centers the searchbar vertically */
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
   /* center horizontally */
  display: block;
  margin: 0;

  width: 15rem;
  padding: .25rem;
  background-color: white;
}

button {
  height: 2.4rem;
  width: 2.4rem;
}